/venv
segundo bloco/referencia/ExerciciosBase.txt
segundo bloco/referencia/Métodos.txt
segundo bloco/referencia/Raphael Viana - Segundo Relatório de Análise Numérica 2023.1.docx
segundo bloco/referencia/Raphael Viana - Segundo Relatório de Análise Numérica 2023.1.pdf
segundo bloco/referencia/Raphael Viana - Segundo Relatório de Análise Numérica 2023.1.rar
segundo bloco/referencia/1.regressaoLinear/entradas.txt
segundo bloco/referencia/1.regressaoLinear/regressaoLinear.py
segundo bloco/referencia/1.regressaoLinear/saidas.txt
segundo bloco/referencia/1.regressaoLinear/tempCodeRunnerFile.py
segundo bloco/referencia/10.simpson1_3/entradas.txt
segundo bloco/referencia/10.simpson1_3/saidas.txt
segundo bloco/referencia/10.simpson1_3/simpson1_3.py
segundo bloco/referencia/11.simpson3_8/entradas.txt
segundo bloco/referencia/11.simpson3_8/saidas.txt
segundo bloco/referencia/11.simpson3_8/simpson3_8.py
segundo bloco/referencia/12.richardson/entradas.txt
segundo bloco/referencia/12.richardson/richarson.py
segundo bloco/referencia/12.richardson/saidas.txt
segundo bloco/referencia/13.quadraturaGauss/entradas.txt
segundo bloco/referencia/13.quadraturaGauss/gauss.py
segundo bloco/referencia/13.quadraturaGauss/saidas.txt
segundo bloco/referencia/2.mmqDiscreto/entradas.txt
segundo bloco/referencia/2.mmqDiscreto/mmqDiscreto.py
segundo bloco/referencia/2.mmqDiscreto/saidas.txt
segundo bloco/referencia/3.mmqContinuo/entradas.txt
segundo bloco/referencia/3.mmqContinuo/mmqContinuo.py
segundo bloco/referencia/3.mmqContinuo/saidas.txt
segundo bloco/referencia/4.interpolacaoLagrange/entradas.txt
segundo bloco/referencia/4.interpolacaoLagrange/lagrange.py
segundo bloco/referencia/4.interpolacaoLagrange/saidas.txt
segundo bloco/referencia/5.interpolacaoNewton/entradas.txt
segundo bloco/referencia/5.interpolacaoNewton/newton.py
segundo bloco/referencia/5.interpolacaoNewton/saidas.txt
segundo bloco/referencia/6.derivadaPrimeira/derivadaPrimeira.py
segundo bloco/referencia/6.derivadaPrimeira/entradas.txt
segundo bloco/referencia/6.derivadaPrimeira/saidas.txt
segundo bloco/referencia/7.derivadaSegunda/derivadaSegunda.py
segundo bloco/referencia/7.derivadaSegunda/entradas.txt
segundo bloco/referencia/7.derivadaSegunda/saidas.txt
segundo bloco/referencia/8.trapezioSimples/entradas.txt
segundo bloco/referencia/8.trapezioSimples/saidas.txt
segundo bloco/referencia/8.trapezioSimples/trap_simples.py
segundo bloco/referencia/9.trapezioComposto/entradas.txt
segundo bloco/referencia/9.trapezioComposto/saidas.txt
segundo bloco/referencia/9.trapezioComposto/trap_comp.py
